%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%{sub_dirs, ["rel"]}. %%需要编译的子目录

%%{require_otp_vsn, "R13B04|R14"}. %%要求当前机器的erlang版本为R13B04|R14

{cover_enabled, true}. %%如果ebin目录下存在beam文件，允许覆盖

{erl_opts, [debug_info, fail_on_warning]}. %%编译时检查是否有warning，如果有将编译报错

%%{deps, [
%%      {ranch, "0.8.5", {git, "git://github.com/extend/ranch.git", {tag, "0.8.5"}}}
%%]}.
%%{deps, [
%%    {ranch, "0.8.5", {}}
%%]}.
